* {
  box-sizing: border-box;
}
body {
  background-color: #17181f;
  color: #aaa;
}
main {
  max-width: 400px;
  margin: 20px auto;
}
form {
  border: 3px solid #30313d;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}
form input[type="text"] {
  background: none;
  color: #fff;
  border: 0;
  padding: 0px 8px;
  display: block;
  width: 100%;
}
form button {
  background-color: aquamarine;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
}
div.task {
  background-color: #30313d;
  padding: 5px 9px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  transition: opacity 0.5s linear;
}
div.task svg {
  height: 20px;
  margin-right: 10px;
  fill: aquamarine;
}

div.task.done {
  opacity: 0.3;
}
div.task-name {
  flex-grow: 1;
}
div.task span {
  position: relative;
  flex-grow: 1;
}
div.task span:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #aaa;
  position: absolute;
  top: 13px;
  transition: width 0.9s linear;
}
div.task.done span:before {
  width: 100%;
}
div.checkbox {
  display: flex;
  align-items: center;
}
div.checkbox {
  display: flex;
  align-items: center;
}
h2 {
  text-align: center;
}
.name {
  margin: 5px;

  /* display: flex; */
  /* text-align: center; */
}
button.trash {
  background: none;
  border: none;
  display: flex;
  cursor: pointer;
}
button.trash svg {
  fill: #aaa;
  height: 14px;
}
